# Python virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Mac files
.DS_Store

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# Logs
*.log
data/traces/

# Temporary files
tmp/
temp/
